#
# Configuration variables
#
# LILY_CLI_CLASSPATH
#    additional entries to be added to the classpath
#
# LILY_JAVA_OPTIONS
#    additional options to be passed to the java executable
#

if [ -z "$JAVA_HOME" ] ; then
  echo "JAVA_HOME not set!"
  exit 1
fi

CLASSPATH="$$$CLASSPATH_PREFIX$$$$$$CLASSPATH$$$"

# Only add LILY_CLI_CLASSPATH when it is not empty, to avoid adding the working dir to
# the classpath by accident.
if [ ! -z "LILY_CLI_CLASSPATH" ] ; then
  CLASSPATH=$CLASSPATH:LILY_CLI_CLASSPATH
fi

export CLASSPATH

$$$BEFORE_JAVA_HOOK$$$

"$JAVA_HOME/bin/java" $LILY_JAVA_OPTIONS $$$DEFAULT_JVM_ARGS$$$ $$$MAINCLASS$$$ "$@"