@echo off
rem
rem Configuration variables
rem
rem LILY_CLI_CLASSPATH
rem    additional entries to be added to the classpath
rem
rem LILY_JAVA_OPTIONS
rem    additional options to be passed to the java executable
rem

if "%JAVA_HOME%"=="" goto javaHomeNotSet

set CLASSPATH=$$$CLASSPATH_PREFIX$$$$$$CLASSPATH$$$

rem Only add LILY_CLI_CLASSPATH when it is not empty, to avoid adding the working dir to
rem the classpath by accident.
if "%LILY_CLI_CLASSPATH%"=="" goto noExtraClassPath
set CLASSPATH=%CLASSPATH%;%LILY_CLI_CLASSPATH%
:noExtraClassPath

$$$BEFORE_JAVA_HOOK$$$

"%JAVA_HOME%/bin/java" -classpath "%CLASSPATH%" %LILY_JAVA_OPTIONS% $$$MAINCLASS$$$ %*
goto end

:javaHomeNotSet
echo JAVA_HOME not set!
goto end

:end
if "%_EXIT_ERRORLEVEL%"=="true" exit %ERRORLEVEL%
      
